*{
    background-color: black;
        border: 2px solid pink;
    text-align: center;
}
h1{
    color:goldenrod;
    text-decoration: wavy;
    border: 2px solid pink;
    text-align: center;
}
button{
    color: grey;
    text-decoration: underline;
    border: 1px dashed red;
    text-align: center;
    margin-left: 229px;
}
p{
    color:cyan;
    text-decoration: wavy;
}
#sh{
    color:violet;
    text-decoration: line-through;
}